*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ad-hist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.table-responsive{
    width: 60%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */